<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <% if (locals.errors) { %>
  <ul style="color: red;">
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }); %>
  </ul>
<% } %>
  <form action="/auth/sign-up" method="POST">
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname" id="firstname" value="<%= locals.prevData ? prevData.firstname : '' %>">

    <label for="lastname">Lastname</label>
    <input type="text" name="lastname" id="lastname" value="<%= locals.prevData ? prevData.lastname : '' %>">

    <label for="username">Username</label>
    <input type="text" name="username" id="username" value="<%= locals.prevData ? prevData.username : '' %>">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />

    <label for="confirmpassword">Password</label>
    <input id="confirmpassword" name="confirmpassword" type="password" />
    
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>
